src/dicomanonymize/__pycache__/
src/dicomanonymize/scripts/__pycache__/
src/*.egg-info/
build/
src/test/test/
src/test/__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.pytest_cache/